[submodule "frontend"]
	path = frontend
	url = https://github.com/vijenderchimma/weather_dashboard_frontend.git
[submodule "weather_dashboard_backend"]
	path = weather_dashboard_backend
	url = https://github.com/vijenderchimma/weather_dashboard_backend.git
[submodule "frontend_code"]
	path = frontend_code
	url = https://github.com/vijenderchimma/weather_dashboard_frontend.git
[submodule "backend_code"]
	path = backend_code
	url = https://github.com/vijenderchimma/weather_dashboard_backend.git
[submodule "backend"]
	path = backend
	url = https://github.com/vijenderchimma/weather_dashboard_backend.git
[submodule "weather_dashboard"]
	path = weather_dashboard
	url = https://github.com/vijenderchimma/weather_dashboard_frontend.git
